# KEYCLOAK
KEYCLOAK_REALM=companion
KEYCLOAK_URL=http://localhost:8080
ALGORITHM=RS256
AUDIENCE=account

# LLM models
GITHUB_MODEL_TOKEN_GPT41=
GITHUB_MODEL_TOKEN_GPT4OMINI=
GITHUB_MODEL_TOKEN=

# PostgreSQL database
POSTGRE_URI=
POSTGRE_URI_v1=

# MiniO service
ENDPOINT_URL=http://localhost:9000
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY_ID=minioadmin